.contact {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #262626;
    border-radius: 10px;
  }
  
  .contact a {
    color: #AB2EFF;
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }