body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(8, 8, 8);
    color: #8A2CC9;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #cbcbcb;
    border-radius: 10px; 
  }
  
  

  .navigation-bar {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #712ba1;
  }


  .button-container::after {
    content: "";
    border-right: 1px solid #262626;
    margin: 5px;
  }

  .button-container:last-child::after {
    border-right: none;
  }
  
  .navigation-bar button {
    padding: 10px 20px;
    background-color: transparent;
    color: #cbcbcb;
    border: none;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: 0px;
  }

  
  .navigation-bar button:hover {
    border-color: #262626;
    border-bottom: 0px;

  }

  .navigation-bar button.selected {
    border: 1px solid #712ba1;
    border-bottom: 0px;
  }