.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project-card {
    width: 48%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #262626;
    border-radius: 10px;
  }
  
  .project-card h3 {
    color: #AB2EFF;
  }